
// =============================
// |  Componente: Caja (Ej.2)  |
// =============================

.caja {
    width: 320px;
    min-height: 120px;

    padding: 1.5rem 2rem;

    background-color: $color-success-soft;
    border: 1px solid $color-success-border;
    border-radius: $radius-card;

    box-sizing: border-box;

    font-weight: 500;
    text-align: center;
}