
// ================================
// |  Ejercicio 1 - Estilos base  |
// ================================


// Estilos Globales
body {
    margin: 0;
    padding: 0;

    min-height: 100vh;
    background-color: #F4F4F4;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
}



// Encabezado principal
header {
    padding: 2rem 0;
    text-align: center;
}


h1 {
    margin: 0;
}



// Selector por ID
#app {
    border: 1px solid transparent;
}



// Bloque principal con BEM
.app {
    width: 80%;
    margin: 2rem auto;
    padding: 1.5rem;

    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



// Footer
footer {
    margin-top: 2rem;
    padding: 1rem 0;

    text-align: center;
    font-size: 0.9rem;
    color: #555555;
}




// =============================
// |  Ejercicio 2 - Box Model  |
// =============================


.app {

    // Estilo base para TODAS las secciones dentro de .app
    &__section {
        padding: 1.5rem 0;
        border-bottom: 1px solid #E5E5E5;
    }

    &__section:last-child {
        border-bottom: none;
    }


    // Intro centrado.
    &__section--intro {
        text-align: center;
    }


    // Contenedor de la caja dentro de .app
    &__box {
        margin-top: 1rem;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }

}


.caja {
    width: 320px;
    min-height: 120px;

    padding: 1.5rem 2rem;

    background-color: #E8F5E9;
    border: 1px solid #C8E6C9;
    border-radius: 10px;

    box-sizing: border-box;

    font-weight: 500;
    text-align: center;
}