
// ===========================
// |  Estilos base globales  |
// ===========================

// Estilos Globales
body {
    margin: 0;
    padding: 0;

    min-height: 100vh;
    background-color: $color-body-bg;
    font-family: $font-family-base;
    font-size: $font-size-base;
    color: $color-text-main;
}


// Encabezado principal
header {
    padding: $spacing-header-y 0;
    text-align: center;
}


h1 {
    margin: 0;
}


// Selector por ID
#app {
    border: 1px solid transparent;
}


// Bloque principal con BEM
.app {
    width: 80%;
    margin: 2rem auto;
    padding: 1.5rem;

    background-color: $color-surface;
    border-radius: $radius-card;
    box-shadow: $shadow-card;
}


// Footer
footer {
    margin-top: 2rem;
    padding: 1rem 0;

    text-align: center;
    font-size: 0.9rem;
    color: $color-footer-text;
}